/* CSS Reset  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

/* ------------ Styling In Main Container ------------  */

.Container{
    background: url("../img/bg.jpg"); /* Size is a Coumpsoury to shown*/
    min-height: 100vh;
    background-size: 100vw 100vh;


    /* Making a flex Box */

    display: flex;
    justify-content: center;
    align-items: center;   
}

/* ------------ Styling In Board  ------------  */

#board{
    border: 2px solid black;
    background: linear-gradient(rgb(170, 236, 170),rgb(236, 236, 167));

     width: 90vmin;
     height: 90vmin;

     margin-left: -101px;
     border-radius: 20px;

     box-shadow: 10px 10px rgb(0 0 0 / 51%);
     
     /* Making Grid */

     display: grid;
     grid-template-columns: repeat(18,1fr);
     grid-template-rows: repeat(18,1fr);
}

/* ------------ Styling in Snake  ------------ */


.Snake{
    /* background-color: yellow; */
    background: linear-gradient(#5572b3,#da69d7);
    border: 0.25vmin solid white;
    border-radius: 20px;
}

.Head{
      /* background-color: red; */
      background: linear-gradient(#a12c5f,#ef2727);
      border: 0.25vmin solid black;
      border-radius: 15px;
      /* transform: scale(1.1); */
}


.Food{
        background: linear-gradient(#3dcad5d6,#4753e3);
        border: 0.25vmin solid rgb(25 0 255);
        border-radius: 100%;
}

/* ------------ Utilitie classes ------------ */